<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSITE SEDERHANA</title>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/cnn.webp" alt="cnn">
            <!--  -->
            <ul id="menu-utama">
                <li><a href="INDEX.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>
            <!--  -->
            <form action="#">
                <input type="text" name="search">
            </form>
        </div>
        <div id="content">
                <div class="artikel">
                    <img src="../img/gambar3.jpg" alt="gambar3">
                    <h2>kereta cepat alias woosh sudah mulai beroperasi di bandung </h2>
                    <p>Apri/Fadia meraih kemenangan dengan perjuangan keras dalam permainan tiga gim. Sempat kalah 14-21 di gim pertama, Apri/Fadia bangkit dengan meraup kemenangan di dua gim berikutnya 21-12.</p>
                    <a href="artikel1.html">Baca selengkapnya...</a>
                </div>
                
                    <div class="artikel">
                        <img src="../img/gambar4.jpeg" alt="gambar4">
                        <h2>3 Wakil Indonesia Lolos 16 Besar French Opening 2024 </h2>
                        <p>Hasil manis juga didapat Anthony Sinisuka Ginting. Tunggal putra Indonesia itu berhak melaju ke babak 16 besar French Open 2024 usai menang atas Eng Hong Yang dalam permainan ketat tiga putaran.</p>
                        <a href="artikel2.html">Baca selengkapnya...</a>
                    </div>
                    
                        <div class="artikel">
                            <img src="../img/gambar2.png" alt="gambar2">
                            <h2>Jadwal Red Sparks vs Al Peppers: Demi 8 Kemenangan Beruntun</h2>
                            <p>Rinov Rivaldy/Pitha Haningtyas Mentari kalah dramatis dalam duel lawan Yuki Kaneko/Misaki Matsumoto dengan skor 22-20, 19-21, 20-22 di babak pertama French Open 2024.</p>
                            <a href="artikel3.html">Baca selengkapnya...</a>
                        </div> 
        </div>
        <div id="sidebar">
                        <h2> WHO WE ARE ?</h2>
                        <p> Kami adalah mahasiswa lp3i kampus cimone prodi ka yang sedang belajar membuat website portal sedehana menggunakan bahasa pemrograman HTML.</p>
                        <H2> Artikel berdasarkan kategori </H2>
                        <ul>
                            <li><a href="#">Olahraga</a></li>
                            <li><a href="#">Politik</a></li>
                            <li><a href="#">Makanan</a></li>
                        </ul>
                    </div> 
                    <div id="footer">
                      <p> Nabila Zia Ulhaq &copy; 2024 </p>  
                    </div>      
            </div>   
        </div>
    </div>
</body>
</html>